{% extends "::base.html.twig" %}

{% block stylesheets %}
<link rel="stylesheet" href="{{ path('itaw_template_css', {templateName: template.identifier, fileName: 'bootstrap.min.css'}) }}">
{% endblock %}

{% block javascripts %}
<script src="{{ path('itaw_template_js', {templateName: template.identifier, fileName: 'jquery-2.0.3.min.js'}) }}"></script>
<script src="{{ path('itaw_template_js', {templateName: template.identifier, fileName: 'bootstrap.min.js'}) }}"></script>
{% endblock %}

{% block body %}

<div class="container">
    <div class="col-lg-12 page">
        
        <div class="row">
            <div class="col-lg-12 header">
                <div class="logo">
                    #
                </div>
            </div>
        </div>
        
    </div>
</div>

{% block content %}{% endblock %}

{% endblock %}